.footer {
  width: 100%;
  background: #004d7a;
  color: white;
  text-align: center;
  padding: 60px 0;
}

.footer-video {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.footer-video video {
  width: 320px;
  border-radius: 12px;
}