/* ===== CONTAINER ===== */
.container {
  width: 1200px;
  margin: 0 auto;
}

/* ===== HEADER ===== */
.header {
  width: 100%;
  background: #004d7a;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.emblem {
  width: 70px;
  height: 70px;
  border-radius: 10px;
}

.header-left h1 {
  color: white;
  font-size: 26px;
}

.header nav {
  display: flex;
  gap: 30px;
}

.header nav button {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.header nav button:hover {
  color: #f7931e;
}

/* ===== HERO ===== */
.hero {
  width: 100%;
  height: 550px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-size: cover;
  background-position: center;
}

.hero-text {
  width: 800px;
  background: rgba(0,0,0,0.45);
  padding: 50px;
  border-radius: 12px;
  text-align: center;
}

.hero-text h2 {
  font-size: 44px;
  color: white;
  margin-bottom: 15px;
}

.hero-text p {
  font-size: 22px;
  color: white;
  margin-bottom: 20px;
}

.btn-primary {
  padding: 14px 28px;
  background: #f7931e;
  color: white;
  border-radius: 8px;
  text-decoration: none;
}

/* ===== CATALOG ===== */
.catalog {
  padding: 90px 0;
}

.catalog h2 {
  text-align: center;
  font-size: 34px;
  margin-bottom: 50px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
}

.product-card {
  background: white;
  border-radius: 14px;
  padding: 20px;
  text-align: center;
}

.product-card img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 15px;
}

.price {
  font-weight: bold;
}

/* ===== CONTACTS ===== */
.contacts {
  width: 100%;
  background: #004d7a;
  color: white;
  padding: 90px 0;
  text-align: center;
}

.contacts-grid {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
}

.contact-person {
  width: 320px;
  background: white;
  color: #333;
  padding: 25px;
  border-radius: 12px;
}

/* ===== FOOTER ===== */
.footer {
  width: 100%;
  background: #004d7a;
  color: white;
  text-align: center;
  padding: 60px 0;
}

.footer-video {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.footer-video video {
  width: 320px;
  border-radius: 12px;
}