/* ===== RESET (чистый) ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== BASE ===== */
html, body, #root {
  width: 100%;
  min-height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background: #f5f7fa;
  color: #333;
}

/* УБИРАЕМ ВСЁ ОТ VITE */
#root {
  margin: 0;
  padding: 0;
}